$primary: #f49917;
$light: #ffe7b8;
$file-upload-color: #c0392b;
$file-upload-size: 300px;

@mixin scale($val) {
    -webkit-transform: scale($val);
    -moz-transform: scale($val);
    -ms-transform: scale($val);
    -o-transform: scale($val);
    transform: scale($val);
  }
  
  @mixin transition($val) {
    transition: $val;
    -webkit-transition: $val;
    -ms-transition: $val;
    -moz-transition: $val;
  }

//
// typography
//

.font-700 {
    font-weight:700;
}

.line-height-normal {
    line-height:1.35;
}

//
// divider
//

.t8 {
    border-top: 1px solid #EEEEEE;
}

.divider {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 1px;
    &.div-transparent {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 5%;
            right: 5%;
            width: 90%;
            height: 1px;
            background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
        }
    }
    &.div-dot {
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            top: -7px;
            left: calc(50% - 9px);
            width: 14px;
            height: 14px;
            background-color: goldenrod;
            border: 1px solid #303133;
            border-radius: 50%;
        }
    }
}

//
// height and width
//

.h-100-vh {
    height:100vh;
}

.wd-250 {
    width:250px;
}

.wd-100 {
    width: 100%;
    padding: 0 15px;
}

.wd-350 {
    width:100%;
    @media(min-width:768px) {
        width:350px;
        margin:0 auto;
    }
}

.wd-80 {
    width:80px;
}

.w-auto {
    width:100%;
    @media(min-width:768px) {
        width:auto;
    }
}

.w-md-75 {
    width:100%;
    @media(min-width:768px) {
        width:75%!important;
    }
}

@media(max-width:768px) {
    .w-89 {
        width:110px;
    }
}

@media(max-width:576px) {
    .w-89 {
        width:89%;
        margin:0 auto;
    }
}

.logo {
    max-width: 300px;
    @media(max-width:992px) {
        margin:0 auto;
        padding: 0;
    }
    @media(max-width:575px) {
        padding: 0 4.5rem;
    }
}

.new {
    .select2-selection__rendered {
        font-size:15px!important;
    }
}

//
// margin and padding
//

.mb-60 {
    margin-bottom:40px;
    @media(min-width:768px) {
        margin-bottom:60px;
    }
}

.border-cliq {
    border-left: 2px solid #F49917;
}

@media(max-width:767px) {
    .pl-max-0 {
    padding-left:0;
    }
}

//
// flex
//

.jce {
    justify-content:space-evenly;
}

//
// form
//

.form-control {
    &.has-border {
        border:1px solid darkgrey;
    }
    &:focus, &:active {
        border-color:black;
    }
}

//
// btn styles
//

.btn {
    &.btn-primary {
        background: #f0c14b;
        border-color: #a88734 #9c7e31 #846a29;
        color: #111;
        // border-bottom-width:2px;
        &.button-inner {
            background: #f4d078;
            // background: -webkit-linear-gradient(to bottom, $light, $primary);
            // background: linear-gradient(to bottom, $light, $primary);
        }
        &:hover {
            background: #f1c861;
            // background: -webkit-linear-gradient(to bottom, $light, $primary);
            // background: linear-gradient(to bottom, $light, $primary);
        }
        &hover, &:focus, &:active {
            border-color: #a88734 #9c7e31 #846a29;
        }
        &:active {
            background: #f1c861;
            background: -webkit-linear-gradient(to bottom, #ffd073, rgb(202, 135, 41));
            background: linear-gradient(to bottom, #ffd073, rgb(202, 135, 41));
            border-bottom-width:1px;
            // border-top-width:2px;
        }
    }
}

// colors

.bg-red {
    background-color:#ff7676 !important;
}

.bg-violet {
    background: #796AEE !important;
    color: #fff;
}

.fira-sans {
    font-family: 'Fira Sans', sans-serif;
}

@media(min-width:768px) {
.wd-xl-450 {
    width:450px;
}
}

.z-index-1 {
    z-index:1!important;
}

.has-background-image {
    &.login {
        background-image:url('../img/login-cover.jpg');
    }
}

.has-shade {
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    &.login {
        background-image: linear-gradient(to bottom, rgb(255, 255, 255) 50%, rgb(185, 185, 185) 100%);
    }
    &.login-right {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 70%, rgba(0, 0, 0, 0.85) 100%);
    }
    &.home {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.97) 42%, #92510070 100%);
        z-index: 0;
        @media(min-width:769px) {
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.97) 42%, #92510070 100%);
        }
    }
}

// button arrow

.btn-arrow {
    position: relative;
    transition: background-color 300ms ease-out;
    width: 100%;
    height: 45px;
    background: #00000045;
    border-radius: 0;
    box-shadow: 0 5px 20px #000000ad;
    border: 2px solid $primary;
    color: $primary;
    span {
      display: inline-block;
      position: relative;
      transition: all 300ms ease-out;
      will-change: transform;
      font-size: 18px;
      line-height: initial;
      font-weight:700;
    }
    &:hover span {
      transform: translate3d(-1rem, 0, 0);
    }
    svg {
      position: absolute;
      width: 1.1em;
      right: 0px;
      right: 0rem;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all 300ms ease-out;
      will-change: right, opacity;
      * {
        stroke-width: 5;
        stroke-color: transparent;
      }
    }
    &:hover svg {
      opacity: 1;
      right: -2rem;
    }
  }

  // edit profile

  .profile-container {
    max-height: 0;
    position: relative;
    overflow: hidden;
    @include transition(max-height 0.8s ease);
    &.show {
        max-height: 600px;
    }
  }

  .login-wrapper {
      &.edit-profile {
          border-left:2px solid $primary;
          padding-left: 12px;
      }
  }

  .h-divider {
          content:'';
          position:absolute;
          height:600px;
          width:1px;
          background:$primary;
          right: 0;
          &::before {
            content: "OR";
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            color: black;
            z-index: 1;
        }
          &::after {
              content:'';
              position:relative;
              width:35px;
              height:35px;
              top:50%;
              transform:translate(-50%, -50%);
              background:$primary;
              display:block;
              left:50%;
              border-radius:50px;
          }
  }

  // card styles

  .card {
      &.dashboard {
          padding:1.5rem;
          padding:1.5rem 1.5rem 0;
          @media(max-width:991.8px) {
            width: calc(100vw - 70px);
            padding:1.5rem;
            margin-bottom:15px;
          }
          @media(max-width:575px) {
            width: calc(100%);
            padding:1.5rem;
          }
          @media(min-width:992px) {
            width: calc(100vw / 3 - 100px);
            padding:1.5rem;
          }
      }
  }

  // dashbaord summary

  .dashboard-summary {
    @media(min-width:768px) {
      margin-top:15px;
    }
      a {
          color:#1a1a1a;
          @media(max-width:767px) {
            width:100%;
            margin-bottom:15px;
          }
      }
      .card {
        &:last-of-type {
            .item {
            border-right:none;
            }
        }
          .item {
            border-right: 1px solid #eee;
            &.highlighted {
                p {
                    background: blanchedalmond;
                    padding: 4px 10px;
                    border-radius: 4px;
                    margin-bottom: 8px;
                    color:black;
                }
            }
            p {
                display:flex;
                -webkit-display:flex;
                align-items:center;
            }
            span {
                font-size:14px;
                margin-right:10px;
            }
            .number {
                font-weight: bold;
                color: #5a5a5a;
            }
          }
          h4 {
              margin-bottom:15px;
          }
          @media(max-width:767px) {
            .item {
                // border-top: 1px solid #eee;
                border-right:none;
          }
      }
      .icon {
        width: 70px;
        height: 70px;
        background: #20b2aa;
        border-radius: 50px;
        i {
            font-size:25px;
            color:white;
        }
      }
      @media(max-width:767px) {
          &:last-child {
              padding-bottom:30px;
          }
          &:first-of-type .item {
              border-top:none;
          }
      }
  }
//   &.list {
//     .item {
//       padding-top: 25px;
//     }
// }
}



  //@at-root
  .custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
    display:flex;
    -webkit-display:flex;
}

.file-upload-button {
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-left: -1px;
    background-color: #f49917!important;
    -ms-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    width: 150px;
    &:hover {
        background-color: darken($file-upload-color, 20);
    }
}

//
// page wide styles
//

// home

.home {
    height:100vh;
    overflow:hidden;
}

@media(max-width:767px) {
.logo-brand {
    padding:0 4rem;
}
}

.eye {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7px;
    margin-top: -37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-size: 20px;
    color: #1a1a1a;
    }

// product list

.inset {
    input,.select2-selection,.select2-selection--single,textarea {
        -moz-box-shadow: inset 0px 0px 6px 0px #d4d4d4;
        -webkit-box-shadow: inset 0px 0px 6px 0px #d4d4d4;
        box-shadow: inset 0px 0px 6px 0px #d4d4d4, inset 0px 0px 0px 2px transparent;
        border-radius:5px;
        // border: 2px solid #4e4e4e00;
        border:0;
        &:focus {
            // border: 2px solid #4e4e4e;
            box-shadow: inset 0px 0px 6px 0px #d4d4d4, inset 0px 0px 0px 1px rgb(41, 41, 41);
            outline:none;
        }
    }
    .select2-selection__rendered {
        color:#777777 !important;
    }
    label {
        text-align:left;
        margin-bottom:0;
        @media(min-width:768px) {
            text-align:right;
        }
    }
    .form-group {
        align-items: center;
    }
}

.registration {
    background:white;
    padding: 2.15rem 2rem 3rem;
    border-radius: 2px 0 2px 2px;
    box-shadow: 1px 10px 40px black;
    margin-left: 15px;
    margin-right: 15px;
    @media(min-width:768px) {
        padding: 2.15rem 2.95rem;
    }
    @media(max-width:767px) {
        width:100%;
    }
    .close-button {
        background-color: #6d6d6d;
        padding: 7px 10px;
        position: absolute;
        top: -30px;
        right: 0;
        transition:all 0.15s linear;
        cursor:pointer;
        &:hover {
            background-color:#c54e4e;
        }
        p {
            text-transform:uppercase;
            color:white;
            pointer-events: none;
        }
    }
}

.no-search .select2-search {
    display:none
}

// login form

.login-pad {
    position:relative;
    @media(max-width:991px) {
        padding:3rem 15px;
        width: 80%;
    }
}

.offer-date {
    width:calc(100% - 343.55px);
}

#overlay {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.65);
    z-index: 2;
    animation: fade 0.3s linear; 
    display:none;
    &.show {
        display:block;
    }
}

.loading-div {
    position:absolute;
    padding:3rem .5rem;
    background: #f1c861;
    background: -webkit-linear-gradient(to bottom, #ffd073, rgb(202, 135, 41));
    background: linear-gradient(to bottom, #ffd073, rgb(202, 135, 41));
    border:1px solid white;
    border-color: #a88734 #9c7e31 #846a29;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    min-width:300px;
    z-index: 3;
    p {
        font-size:20px;
        color:white;
        text-align:center;
    }
    @media(max-width:767px) {
        max-width:150px;
    }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fade {
      from {
          opacity:0;
          visibility:hidden;
      }

      to {
          opacity:1;
          visibility:visible;
      }
  }