



.font-700 {
  font-weight: 700;
}

.line-height-normal {
  line-height: 1.35;
}

.t8 {
  border-top: 1px solid #EEEEEE;
}

.divider {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 1px;
}
.divider.div-transparent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #303133, transparent);
}
.divider.div-dot::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 9px);
  width: 14px;
  height: 14px;
  background-color: goldenrod;
  border: 1px solid #303133;
  border-radius: 50%;
}

.h-100-vh {
  height: 100vh;
}

.wd-250 {
  width: 250px;
}

.wd-100 {
  width: 100%;
  padding: 0 15px;
}

.wd-350 {
  width: 100%;
}
@media (min-width: 768px) {
  .wd-350 {
    width: 350px;
    margin: 0 auto;
  }
}

.wd-80 {
  width: 80px;
}

.w-auto {
  width: 100%;
}
@media (min-width: 768px) {
  .w-auto {
    width: auto;
  }
}

.w-md-75 {
  width: 100%;
}
@media (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }
}

@media (max-width: 768px) {
  .w-89 {
    width: 110px;
  }
}
@media (max-width: 576px) {
  .w-89 {
    width: 89%;
    margin: 0 auto;
  }
}
.logo {
  max-width: 300px;
}
@media (max-width: 992px) {
  .logo {
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 575px) {
  .logo {
    padding: 0 4.5rem;
  }
}

.new .select2-selection__rendered {
  font-size: 15px !important;
}

.mb-60 {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .mb-60 {
    margin-bottom: 60px;
  }
}

.border-cliq {
  border-left: 2px solid #F49917;
}

@media (max-width: 767px) {
  .pl-max-0 {
    padding-left: 0;
  }
}
.jce {
 justify-content: space-around;
 @supports (justify-content: space-evenly) { /* Use space-evenly if supported.*/ 
  justify-content: space-evenly; 
}
}

.form-control.has-border {
  border: 1px solid darkgrey;
}
.form-control:focus, .form-control:active {
  border-color: black;
}

.btn.btn-primary {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.btn.btn-primary.button-inner {
  background: #f4d078;
}
.btn.btn-primary:hover {
  background: #f1c861;
}
.btn.btn-primaryhover, .btn.btn-primary:focus, .btn.btn-primary:active {
  border-color: #a88734 #9c7e31 #846a29;
}
.btn.btn-primary:active {
  background: #f1c861;
  background: -webkit-linear-gradient(to bottom, #ffd073, #ca8729);
  background: linear-gradient(to bottom, #ffd073, #ca8729);
  border-bottom-width: 1px;
}

.bg-red {
  background-color: #ff7676 !important;
}

.bg-violet {
  background: #796AEE !important;
  color: #fff;
}

.fira-sans {
  font-family: "Fira Sans", sans-serif;
}

@media (min-width: 768px) {
  .wd-xl-450 {
    width: 450px;
  }
}
.z-index-1 {
  z-index: 1 !important;
}

.has-background-image.login {
  background-image: url("../img/login-cover.jpg");
}

.has-shade {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.has-shade.login {
  background: -moz-linear-gradient(to bottom,  white 70%, #b9b9b9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to bottom,  white 70%, #b9b9b9 100%); /* FF3.6-15 */
    background: linear-gradient(to bottom,  white 70%, #b9b9b9 100%); /* FF3.6-15 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ffffff', endColorstr='#b3925100',GradientType=1 ); /* IE6-9 */
}
.has-shade.login-right {
    background: -moz-linear-gradient(to bottom,  rgba(0,0,0,0.65) 70%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to bottom,  rgba(0,0,0,0.65) 70%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 70%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ffffff', endColorstr='#b3925100',GradientType=1 ); /* IE6-9 */
    
}
.has-shade.home {
   background: -moz-linear-gradient(to bottom,  rgba(255,255,255,0.97) 0%, rgba(146,81,0,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(to bottom,  rgba(255,255,255,0.97) 0%,rgba(146,81,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.97) 0%,rgba(146,81,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ffffff', endColorstr='#b3925100',GradientType=1 ); /* IE6-9 */
  z-index: 0;
}
@media (min-width: 769px) {
  .has-shade.home {
   background: -moz-linear-gradient(left,  rgba(255,255,255,0.97) 0%, rgba(146,81,0,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0.97) 0%,rgba(146,81,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0.97) 0%,rgba(146,81,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ffffff', endColorstr='#b3925100',GradientType=1 ); /* IE6-9 */
  }
}

.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
  width: 100%;
  height: 45px;
  background: #00000045;
  border-radius: 0;
  box-shadow: 0 5px 20px #000000ad;
  border: 2px solid #f49917;
  color: #f49917;
}
.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
  font-size: 18px;
  line-height: initial;
  font-weight: 700;
}
.btn-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
.btn-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}

.profile-container {
  max-height: 0;
  position: relative;
  overflow: hidden;
  transition: max-height 0.8s ease;
  -webkit-transition: max-height 0.8s ease;
  -ms-transition: max-height 0.8s ease;
  -moz-transition: max-height 0.8s ease;
}
.profile-container.show {
  max-height: 600px;
}

.login-wrapper.edit-profile {
  border-left: 2px solid #f49917;
  padding-left: 12px;
}

.h-divider {
  content: "";
  position: absolute;
  height: 600px;
  width: 1px;
  background: #f49917;
  right: 0;
}
.h-divider::before {
  content: "OR";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 1;
}
.h-divider::after {
  content: "";
  position: relative;
  width: 35px;
  height: 35px;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f49917;
  display: block;
  left: 50%;
  border-radius: 50px;
}

.card.dashboard {
  padding: 1.5rem;
  padding: 1.5rem 1.5rem 0;
}
@media (max-width: 991.8px) {
  .card.dashboard {
    width: calc(100vw - 70px);
    padding: 1.5rem;
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .card.dashboard {
    width: calc(100%);
    padding: 1.5rem;
  }
}
@media (min-width: 992px) {
  .card.dashboard {
    width: calc(100vw / 3 - 100px);
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .dashboard-summary {
    margin-top: 15px;
  }
}
.dashboard-summary a {
  color: #1a1a1a;
}
@media (max-width: 767px) {
  .dashboard-summary a {
    width: 100%;
    margin-bottom: 15px;
  }
}
.dashboard-summary .card:last-of-type .item {
  border-right: none;
}
.dashboard-summary .card .item {
  border-right: 1px solid #eee;
}
.dashboard-summary .card .item.highlighted p {
  background: blanchedalmond;
  padding: 4px 10px;
  border-radius: 4px;
  margin-bottom: 8px;
  color: black;
}
.dashboard-summary .card .item p {
  display: flex;
  -webkit-display: flex;
  align-items: center;
}
.dashboard-summary .card .item span {
  font-size: 14px;
  margin-right: 10px;
}
.dashboard-summary .card .item .number {
  font-weight: bold;
  color: #5a5a5a;
}
.dashboard-summary .card h4 {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .dashboard-summary .card .item {
    border-right: none;
  }
}
.dashboard-summary .card .icon {
  width: 70px;
  height: 70px;
  background: #20b2aa;
  border-radius: 50px;
}
.dashboard-summary .card .icon i {
  font-size: 25px;
  color: white;
}
@media (max-width: 767px) {
  .dashboard-summary .card:last-child {
    padding-bottom: 30px;
  }
  .dashboard-summary .card:first-of-type .item {
    border-top: none;
  }
}

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
  display: flex;
  -webkit-display: flex;
}

.file-upload-button {
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-left: -1px;
  background-color: #f49917 !important;
  -ms-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  width: 150px;
}
.file-upload-button:hover {
  background-color: #6d2018;
}

.home {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 767px) {
  .logo-brand {
    padding: 0 4rem;
  }
}
.eye {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 7px;
  margin-top: -37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: #1a1a1a;
}

.inset input, .inset .select2-selection, .inset .select2-selection--single, .inset textarea {
  -moz-box-shadow: inset 0px 0px 6px 0px #d4d4d4;
  -webkit-box-shadow: inset 0px 0px 6px 0px #d4d4d4;
  box-shadow: inset 0px 0px 6px 0px #d4d4d4, inset 0px 0px 0px 2px transparent;
  border-radius: 5px;
  border: 0;
}
.inset input:focus, .inset .select2-selection:focus, .inset .select2-selection--single:focus, .inset textarea:focus {
  box-shadow: inset 0px 0px 6px 0px #d4d4d4, inset 0px 0px 0px 1px #292929;
  outline: none;
}
.inset .select2-selection__rendered {
  color: #777777 !important;
}
.inset label {
  text-align: left;
  margin-bottom: 0;
}

.br-pagebody label.form-control-label{ text-align: left; margin-bottom: 15px;}
@media (min-width: 768px) {
  .inset label {
    text-align: right;
  }
}
.inset .form-group {
  align-items: center;
}

.registration {
  background: white;
  padding: 2.15rem 2rem 3rem;
  border-radius: 2px 0 2px 2px;
  box-shadow: 1px 10px 40px black;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .registration {
    padding: 2.15rem 2.95rem;
  }
}
@media (max-width: 767px) {
  .registration {
    width: 100%;
  }
}
.registration .close-button {
  background-color: #6d6d6d;
  padding: 7px 10px;
  position: absolute;
  top: -30px;
  right: 0;
  transition: all 0.15s linear;
  cursor: pointer;
}
.registration .close-button:hover {
  background-color: #c54e4e;
}
.registration .close-button p {
  text-transform: uppercase;
  color: white;
  pointer-events: none;
}

.no-search .select2-search {
  display: none;
}

.login-pad {
  position: relative;
}
@media (max-width: 991px) {
  .login-pad {
    padding: 3rem 15px;
    width: 80%;
  }
}

.offer-date {
  width: calc(100% - 343.55px);
}

#overlay {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
  animation: fade 0.3s linear;
  display: none;
}
#overlay.show {
  display: block;
}

.loading-div {
  position: absolute;
  padding: 3rem 0.5rem;
  background: #f1c861;
  background: -webkit-linear-gradient(to bottom, #ffd073, #ca8729);
  background: linear-gradient(to bottom, #ffd073, #ca8729);
  border: 1px solid white;
  border-color: #a88734 #9c7e31 #846a29;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  z-index: 3;
}
.loading-div p {
  font-size: 20px;
  color: white;
  text-align: center;
}
@media (max-width: 767px) {
  .loading-div {
    max-width: 150px;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

/*----------------------*/
  .step-progressbar {
    list-style: none;
    counter-reset: step;
    display: flex;
    padding: 0;
    margin-bottom: 2rem;
  }
  .step-progressbar__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    position: relative;
  }
  .step-progressbar__item a{
    color:#9a9a9a;
  }
  .step-progressbar__item a:hover{
    color:#fa7a00;
  }
  .step-progressbar__item:before {
    width: 3em;
    height: 3em;
    content: counter(step);
    counter-increment: step;
    align-self: center;
    background: #ffcf79;
    color: #fff;
    border-radius: 100%;
    line-height: 3em;
    margin-bottom: 0.5em;
  }
  .step-progressbar__item:after {
    height: 2px;
    width: calc(100% - 4em);
    content: '';
    background: #e8e8e8;
    position: absolute;
    top: 1.5em;
    left: calc(50% + 2em);
  }
  .step-progressbar__item:last-child:after {
    content: none;
  }
  .step-progressbar__item--active:before {
    background: #fbaa1a;
  }
  .step-progressbar__item--complete:before {
    content: '✔';
  }

/*----------------------*/

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

/*# sourceMappingURL=style.css.map */
